@model ContactoModel
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Delete Contact
    </div>
    <div class="card-body">
        <form asp-action="Eliminar" asp-controller="Mantenedor" method="post">
            <input asp-for="IdContacto" type="hidden" class="form-control">
            <div class="alert alert-danger" role="alert">
                ¿Do you want to delete the contact : @Html.DisplayTextFor(m => m.Nombre) ?
            </div>
            <button type="submit" class="btn btn-danger">Delete</button>
            <a asp-action="Listar" asp-controller="Mantenedor" class="btn btn-warning">Back to list</a>
        </form>
    </div>
</div>